
.responsive-video-player {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.responsive-video-player__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: #000;
  margin: 0;
  padding: 0;
  display: block;
}
