
.we-do-collaboration-bg {
  position: relative;
  background: #adaeae;
  padding: 0;
  margin-top: 48px;
  overflow: hidden;
}

.we-do-collaboration__bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
  user-select: none;
}

.we-do-collaboration-container {
  position: relative;
  z-index: 1;
  padding: 3rem 0;
  max-width: 1200px;
  margin: 0 auto;
}

.we-do-collaboration__text {
  text-align: left;
  font-size: 32px;
}

.we-do-collaboration__spacer {
  height: 297px;
}
